body{
  font-family: Arial, Helvetica, sans-serif;
  color: #505061;
  margin: 2% 5%;
}

.App-header {
  border-bottom: 1px solid #505061;
  border-color: #505061;
  font-size: calc(25px + 2vmin);
  font-weight: bold;
}

.card {
  width: 280px;
  height: 475px;
  border: 1px solid #505061;
  border-radius: 8px;
  padding: 0% 1% 1% 1%;
  margin-right: 1rem;
}

.card-header {
  height: 0.5vh;
  margin-top: -5%;
}

.card-title {
  height: 15vh;
  padding-top: 5%;
}

.card-text {
  height: 25vh;
}

.card span {
  font-size: xx-large;
}

.card-subtitle {
  margin: 15% auto; 
}

a, a:hover {
  text-decoration: none;  
  color: #505061;
}

.text-center{
  text-align: center;
}

.text-left {
  text-align: left;
}

.btn {
  background-color: rgb(0, 89, 255);
  color: #ffffff;
  padding: 2% 5%;
  border-radius: 5px;
  border-color:whitesmoke;
  cursor: pointer;
}

.card-deck {
  display: flex;
  justify-content: space-around;
  padding: 2% 20%;
}

.card .card-text ul {
  list-style-image:url(./assets/images/simple-rounded-arrow-right.png);
}

li {
  padding: 1% 10%;
  font-size: 95%;
}

ul li:empty {
  display: none;
}

.dropdowns{
  display: flex;
  justify-content: flex-end;
}

select {
  margin-right:1%;
  padding: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cardDetails span {
  font-size: x-large;
}

.cardDetails ul li {
  list-style-type:none;
}